*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
html{
  font-size: 62.5%;
  scroll-behavior: smooth;
}
header{
    width: 100%;
    height: 100vh;
    font-family: sans-serif;

}
nav{
    width: 100%;
    height: 100px;
    background: seashell;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.logo{
    font-size: 2em;

}
.logo span{
    color: skyblue;
}
.menu a{
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    position: relative;

}
.menu a:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-top: 2px solid black;
    transition: 0.4s linear;
}
.menu a:hover:before{
     width: 100%;
}
.text{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.text h1{
    font-size: 3em;
}
.text a{
    text-decoration: none;
    background: black;
    color: white;
    padding: 10px 20px;
    letter-spacing: 3px;
}




body{
  --main-color: #1da5af;
  --primry-color: #888888;
  --button-background: #4b709e;
  --primary-button-background: #fe7649;
  --background-color: #15191d;
}



h2{
  /* font-family: Avenir LT Std; */
  color: var(--main-color);
}

h3{
  /* font-family: "muli"; */
  color: var(--main-color);
}
h3{
  font-weight: 750;
  font-size: 2.2rem;
  line-height: 6rem;
  text-transform: capitalize;
}




.common-section {
  width: 100%;
  height: 70rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 9rem;
  padding: 0 20rem;
}

.common-section .left-side {
  width: inherit;
  height: inherit;
}

.common-section .left-side figure {
  width: 20rem;
  height: 65rem;
  background: #f3f9ff;
  border-radius: 20px;
}

.common-section .left-side img {
  width: 45rem;
  height: 50rem;
  border-radius: 2rem;
  margin-left: 4rem;
  margin-top: 2.5rem;
}





.common-section .right-side {
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.common-section .right-side h2 {
  width: 40rem;
  font-style: normal;
  font-size: 5.5rem;
  font-weight: bold;
  line-height: 6.3rem;
  margin-bottom: 3rem;
  text-transform: capitalize;
}

.common-section .right-side p {
  width: 40.3rem;
  height: 9rem;
  text-transform: none;
  margin-bottom: 3rem;
}

.common-section .right-side .common-button {
  padding: 1rem 3rem;
  background-color: var(--primary-button-background);
  margin-right: 2rem;
  color: #fff;
}

.common-section .right-side button:last-child {
  color: var(--main-color);
  background-color: transparent;
}

.common-section .right-side .common-button:hover {
  background: #cc491d;
}

.common-section .right-side .common-button-normal:hover {
  background: var(--primary-button-background);
  color: #f0f7ff;
}


.contact{
  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;

}
.contact .content{
  max-width: 800px;
  text-align: center;

}
.contact .content h2{
  font-size: 36px;
  font-weight: 500;
  color: rgb(16, 7, 16);
}
.contact .content p{
  font-weight: 300;
  color: rgb(16, 7, 16);
}
.container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;

}
.container .contactInfo{
  width: 50%;
  display: flex;
  flex-direction: column;

}
.container .contactInfo .box{
  position: relative;
  padding: 20px 0;
  display: flex;

}
.container .contactInfo .box .icon{
  min-width: 60px;
  height: 60px;
  background: rgb(16, 7, 16);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
}
.container .contactInfo .box .text1{
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: rgb(16, 7, 16);
  flex-direction: column;
  font-weight: 300;
}
.container .contactInfo .box .text1 h1{
  font-weight: 500;
  color: skyblue;

}
.contactForm{
  width: 40%;
  padding: 40px;
  background: #4b709e;
}
.contactForm h2{
  font-size: 30px;
  color: #333;
  font-weight: 500;

}
.contactForm .inputBox{
  position: relative;
  width: 100%;
  margin-top: 10px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea{
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;

}
.contactForm .inputBox span{
  position: absolute;
  left: 0;
  
}

